<div class="my-container">
    <div>
        <div class="d-flex" id="form-container">
            <label for="firstName">First Name: </label>
            <input id="firstName" class="pb-5" value="firstName"/>
            <button id="goBack" class="btn btn-primary">Go</button>
        </div>
    </div>
    <div>
        <div class="d-flex" id="form-container1">
            <label for="lastName">Last Name: </label>
            <input id="lastName" class="pb-5" value="lastName"/>
            <button id="goBack1" class="btn btn-primary">Go</button>
        </div>
    </div>
</div>



<style>
    .my-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }


    .d-flex {
        display: flex;
    }

    #form-container {
        position: relative;
        margin: 20px;
    }

    .zooming-input {
        font-size: larger;
    }


    input {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
        max-height: 70px;
    }

    label {
        min-width: 170px;
        display: flex;
        padding: 18px;
        align-self: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        max-height: 70px;
        font-size: 1.2rem;
    }


</style>
        
